version: '3.18'
services:
  backend:
    build:
    context: .
    dockerfile: docker/Docker.backend
    ports:
      - "8081:8081"
    environment:
      - DATABASE_URL=${DATABASE_URL} 
    depends_on:
      - postgres
  frontend:
    context: .
    dockerfile: docker/Dockerfile.frontend
    args:
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=${DATABASE_URL} 
    depends_on:
      - postgres
  ws:
    build:
      context: .
      dockerfile: docker/Dockerfile.ws
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=${DATABASE_URL} 
    depends_on:
      - postgres
  
  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgressql/data

volumes:
  postgres_data



